.header-bg {
  background-color: var(--cor-p6);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-menu {
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #dddce1;
  margin-top: 4px;
  transition: 1s;
  position: absolute;
  transition: 1s;
}

.header-menu a:hover:after {
  width: 100%;
}

/* Esconde o menu na versão mobile */
.menu-toggle {
  display: none;
}

/* Estilo para o botão de 3 tracinhos (ícone de hambúrguer) */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  visibility: hidden;
}

.menu-icon span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #333; /* Cor do tracinho */
  border-radius: 4px;
}

/* Exibe o menu como um bloco no mobile */
@media (max-width: 768px) {
  .header-menu {
    display: none;
    flex-direction: column;
    background-color: #ff638b;
    position: absolute;
    top: 90px;
    right: 0;
    width: 200px;
    padding: 20px 20px 5px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    z-index: 1000;
  }
  

  .menu-icon{
    visibility: visible;
  }

  .header-menu li {
    margin: 10px 0;
  }

  /* Exibe o menu quando o checkbox estiver marcado */
  .menu-toggle:checked + .menu-icon + .header-menu {
    display: block;
  }
}

/* Estilos para dispositivos maiores (desktop) */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .header-menu {
    display: flex;
    margin-left: auto;
  }

  .header-menu li {
    margin: 0 15px;
  }
}


/* Estilos do Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff638b;
  /* Cor de fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.preloader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo2 {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

h1 {
  color: white;
  font-size: 30px;
}


.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.content {
  display: none;
  /* Escondido até o preloader desaparecer */
  text-align: center;
  padding: 50px;
}

.content h2 {
  font-size: 36px;
  color: #333;
}

.content p {
  font-size: 18px;
  color: #666;
}


#video-dinamico {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #video-dinamico {
    object-fit: contain;
  }
}



.video-container {
  position: relative; /* Garante que a sombra esteja aplicada ao redor do contêiner */
  display: inline-block; /* Permite que o contêiner se ajuste ao tamanho do vídeo */
  width: 100%; /* Ou um tamanho fixo, se necessário */
  height: auto; /* Permite que o contêiner ajuste a altura automaticamente conforme o vídeo */
  max-width: 1280px; /* Ajuste o tamanho máximo conforme necessário */
  margin: 20px auto; /* Espaçamento em torno do vídeo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave para dar um efeito moderno */
  border-radius: 12px; /* Bordas arredondadas para um visual mais moderno */
  overflow: hidden; /* Garante que a sombra não ultrapasse as bordas */
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

.video-container:hover {
  transform: rotate(2deg); /* Balanço leve para a direita */
}


@keyframes balanco {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg); /* Balança para a direita */
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg); /* Balança para a esquerda */
  }
  100% {
    transform: rotate(0deg);
  }
}