.solucoes-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0);
}

.solucoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.solucoes-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.solucoes-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.solucoes-conteudo > span {
  display: block;
  margin-bottom: 20px;
}

.solucoes-conteudo h2 {
  margin-bottom: 32px;
}

.solucoes-conteudo > p {
  margin-bottom: 20px;
}

.solucoes a {
  margin-bottom: 80px;
}

.solucoes-vantagens {
  display: flex;
  gap: 40px;
}

.solucoes-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
}

.solucoes-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .solucoes-bg {
    box-shadow: initial;
  }
  .solucoes {
    grid-template-columns: 1fr;
  }
  .solucoes-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .solucoes-imagem {
    display: none;
  }
  .solucoes a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .solucoes-vantagens {
    flex-direction: column;
  }
}
