.servicos-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url('../../img/dec/top-right.svg') no-repeat top 40px right 20px;
}

.servicos-imagem {
  display: grid;
}

.servicos-imagem img {
  grid-area: 1/1;
}

.servicos-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.servicos-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.servicos h2,
.servicos p {
  grid-column: 1/-1;
}

.servicos h2 {
  margin-bottom: 20px;
}

.servicos h2::before {
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p6);
  margin-bottom: 8px;
}

.servicos p {
  margin-bottom: 32px;
}

.servicos a {
  place-self: end;
}

.servicos li {
  display: flex;
  align-items: center;
}

.servicos ul {
  display: grid;
  gap: 16px;
}

.servicos-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .servicos-bg {
    background: var(--cor-11);
  }
  .servicos {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .servicos-conteudo {
    grid-template-columns: 1fr;
  }
  .servicos ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .servicos a {
    place-self: start;
  }
}
